.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.subtitle {
  color: var(--btn);
}

.title {
  font-size: 54px;
}

.description {
  font-size: 20px;
  font-weight: 300;
}

.metrics {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.metrics h1 {
  color: var(--btn);
}

.imgContainer {
  position: relative;
  flex: 1;
}

.img {
  object-fit: contain;
}