.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.title {
  color: gray;
  font-weight: bold;
}

.author {
  font-weight: 500;
}